<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHWService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1068/HWService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHWService" contract="HWServiceReference.IHWService"
                name="BasicHttpBinding_IHWService" />
        </client>
    </system.serviceModel>
</configuration>